{# Adaptado de commonjs.html do Ynex #}
<!-- Common JS --> 

<!-- Scroll To Top -->
<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
</div>
<div id="responsive-overlay"></div>
<!-- Scroll To Top -->

<!-- Popper JS -->
<script src="{{ PATH }}/view/assets/ynex/assets/libs/@popperjs/core/umd/popper.min.js?v={{ VERSION }}"></script>

<!-- Bootstrap JS -->
<script src="{{ PATH }}/view/assets/ynex/assets/libs/bootstrap/js/bootstrap.bundle.min.js?v={{ VERSION }}"></script>

<!-- Defaultmenu JS -->
<script src="{{ PATH }}/view/assets/ynex/assets/js/defaultmenu.min.js?v={{ VERSION }}"></script>

<!-- Node Waves JS-->
<script src="{{ PATH }}/view/assets/ynex/assets/libs/node-waves/waves.min.js?v={{ VERSION }}"></script>

<!-- Sticky JS -->
<script src="{{ PATH }}/view/assets/ynex/assets/js/sticky.js?v={{ VERSION }}"></script>

<!-- Simplebar JS -->
<script src="{{ PATH }}/view/assets/ynex/assets/libs/simplebar/simplebar.min.js?v={{ VERSION }}"></script>
<script src="{{ PATH }}/view/assets/ynex/assets/js/simplebar.js?v={{ VERSION }}"></script>

<!-- Color Picker JS -->
<script src="{{ PATH }}/view/assets/ynex/assets/libs/@simonwep/pickr/pickr.es5.min.js?v={{ VERSION }}"></script> 