{# Adaptado de commonjs.html do Ynex #}
<!-- JS Comum --> 

<!-- Voltar ao Topo -->
<div class="scrollToTop">
    <span class="arrow"><i class="fas fa-arrow-up fs-20"></i></span>
</div>
<div id="responsive-overlay"></div>
<!-- Voltar ao Topo -->

<script src="{{ PATH }}/node_modules/@popperjs/core/dist/umd/popper.min.js?v={{ VERSION }}"></script>
<script src="{{ PATH }}/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js?v={{ VERSION }}"></script>
<script src="{{ PATH }}/node_modules/node-waves/dist/waves.min.js?v={{ VERSION }}"></script>
<script src="{{ PATH }}/view/assets/ynex/assets/js/sticky.js?v={{ VERSION }}"></script>
<script src="{{ PATH }}/node_modules/simplebar/dist/simplebar.min.js?v={{ VERSION }}"></script>
<script src="{{ PATH }}/view/assets/ynex/assets/js/simplebar.js?v={{ VERSION }}"></script>
<script src="{{ PATH }}/node_modules/@simonwep/pickr/dist/pickr.es5.min.js?v={{ VERSION }}"></script>
<script src="{{ PATH }}/node_modules/jsvectormap/dist/jsvectormap.min.js?v={{ VERSION }}"></script>
<script src="{{ PATH }}/node_modules/jsvectormap/dist/maps/world-merc.js?v={{ VERSION }}"></script>
<script src="{{ PATH }}/node_modules/swiper/swiper-bundle.min.js?v={{ VERSION }}"></script>
<script src="{{ PATH }}/view/assets/js/datatable.js?v={{ VERSION }}"></script>
<script src="{{ PATH }}/view/assets/vendors/sumoselect/sumoselect.min.js?v={{ VERSION }}"></script>
<script src="{{ PATH }}/view/assets/vendors/sweetalert2/sweetalert2.min.js?v={{ VERSION }}"></script>
<script src="{{ PATH }}/view/assets/vendors/repeater/jquery.repeater.min.js?v={{ VERSION }}"></script>
<script src="{{ PATH }}/view/assets/vendors/bootstrap-tagsinput/bootstrap-tagsinput.min.js?v={{ VERSION }}"></script>
<script src="{{ PATH }}/view/assets/vendors/froala/js/froala_editor.pkgd.min.js?v={{ VERSION }}"></script>
<script src="{{ PATH }}/view/assets/vendors/froala/js/languages/pt_br.js?v={{ VERSION }}"></script>