<!DOCTYPE html>
<html lang="pt-BR" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light" data-menu-styles="dark" data-toggled="close">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Embala Bag - {% block title %}{% endblock %}</title>
    <meta name="Description" content="Sistema de Almoxarifado Embala Bag">
    <meta name="Author" content="Tronic Sites">
    <meta name="keywords" content="almoxarifado, estoque, embalabag, sistema">
    
    <link rel="icon" href="{{ PATH }}/view/assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ PATH }}/view/assets/vendors/froala/css/froala_editor.min.css?v={{ VERSION }}">
    <link rel="stylesheet" href="{{ PATH }}/view/assets/vendors/bootstrap-tagsinput/bootstrap-tagsinput.css?v={{ VERSION }}">
    <link rel="stylesheet" href="{{ PATH }}/view/assets/vendors/select2/css/select2.min.css?v={{ VERSION }}">
    <link rel="stylesheet" href="{{ PATH }}/node_modules/bootstrap/dist/css/bootstrap.min.css?v={{ VERSION }}">
    <link rel="stylesheet" href="{{ PATH }}/view/assets/ynex/assets/css/styles.css?v={{ VERSION }}">
    <link rel="stylesheet" href="{{ PATH }}/view/assets/ynex/assets/css/icons.css?v={{ VERSION }}">
    <link rel="stylesheet" href="{{ PATH }}/node_modules/node-waves/dist/waves.min.css?v={{ VERSION }}">
    <link rel="stylesheet" href="{{ PATH }}/node_modules/simplebar/dist/simplebar.min.css?v={{ VERSION }}">
    <link rel="stylesheet" href="{{ PATH }}/node_modules/flatpickr/dist/flatpickr.min.css?v={{ VERSION }}">
    <link rel="stylesheet" href="{{ PATH }}/node_modules/@simonwep/pickr/dist/themes/nano.min.css?v={{ VERSION }}">
    <link rel="stylesheet" href="{{ PATH }}/node_modules/choices.js/public/assets/styles/choices.min.css?v={{ VERSION }}">
    <link rel="stylesheet" href="{{ PATH }}/view/assets/vendors/sumoselect/sumoselect.min.css?v={{ VERSION }}">
    <link rel="stylesheet" href="{{ PATH }}/view/assets/vendors/sweetalert2/sweetalert2.min.css?v={{ VERSION }}">
    <link rel="stylesheet" href="{{ PATH }}/node_modules/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{{ PATH }}/view/assets/css/app.css?v={{ VERSION }}">
    <link rel="stylesheet" href="{{ PATH }}/view/assets/css/app-dark.css?v={{ VERSION }}">

    <script src="{{ PATH }}/view/assets/vendors/jquery-3.6.0.min.js?v={{ VERSION }}"></script>
    <script src="{{ PATH }}/view/assets/vendors/jquery.mask.js?v={{ VERSION }}"></script>
    <script src="{{ PATH }}/view/assets/vendors/select2/js/select2.min.js?v={{ VERSION }}"></script>
    <script src="{{ PATH }}/node_modules/choices.js/public/assets/scripts/choices.min.js?v={{ VERSION }}"></script>
    <script src="{{ PATH }}/view/assets/ynex/assets/js/main.js?v={{ VERSION }}"></script>
    <script src="{{ PATH }}/view/assets/vendors/froala/js/froala_editor.pkgd.min.js?v={{ VERSION }}"></script>
    <script src='{{ PATH }}/view/assets/vendors/froala/js/languages/pt_br.js?v={{ VERSION }}'></script>
</head>

<body>
    <!-- Rest of the file remains unchanged -->
</body>
</html> 