<!DOCTYPE html>
<html lang="pt-BR" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light" data-menu-styles="dark" data-toggled="close">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Embala Bag - {% block title %}{% endblock %}</title>
    <meta name="Description" content="Sistema de Almoxarifado Embala Bag">
    <meta name="Author" content="Tronic Sites">
    <meta name="keywords" content="almoxarifado, estoque, embalabag, sistema">
    
    <link rel="icon" href="{{ PATH }}/view/assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ PATH }}/view/assets/css/app.css?v={{ VERSION }}">
    
    <script src="{{ PATH }}/view/assets/vendors/jquery-3.6.0.min.js?v={{ VERSION }}"></script>
    <script src="{{ PATH }}/view/assets/js/global-config.js?v={{ VERSION }}"></script>
    <script src="{{ PATH }}/view/assets/vendors/select2/js/select2.min.js?v={{ VERSION }}"></script>
    <script src="{{ PATH }}/node_modules/choices.js/public/assets/scripts/choices.min.js?v={{ VERSION }}"></script>
    <script src="{{ PATH }}/view/assets/ynex/assets/js/main.js?v={{ VERSION }}"></script>
    <script src="{{ PATH }}/view/assets/vendors/jquery.mask.js?v={{ VERSION }}"></script>
    <script src="{{ PATH }}/view/assets/vendors/froala/js/froala_editor.pkgd.min.js?v={{ VERSION }}"></script>
    <script src="{{ PATH }}/view/assets/vendors/froala/js/languages/pt_br.js?v={{ VERSION }}"></script>
    <script src="{{ PATH }}/view/assets/js/app.js?v={{ VERSION }}"></script>
</head>

<body>
    <!-- Rest of the file remains unchanged -->
</body>
</html> 