<!DOCTYPE html>
<html lang="pt-BR" loader="disable">

<head>
    {% include 'components/partials/mainhead.twig' %}
    {% block head %}{% endblock %}
</head>

<body data-domain="{{ DOMAIN }}" data-path="{{ PATH }}" data-version="{{ VERSION }}" data-lang="{{ LANGUAGE }}">
    {% include 'components/partials/switcher.twig' %}
    {% include 'components/partials/loader.twig' %}
    <div class="page">
        {% include 'components/partials/header.twig' %}
        {% include 'components/partials/sidebar.twig' %}
        <div class="main-content app-content">
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% include 'components/partials/headersearch_modal.twig' %}
        {% include 'components/partials/footer.twig' %}
    </div>

    {% include 'components/partials/commonjs.twig' %}
    <script src="{{ PATH }}{{ 'main.js'|hash }}"></script>   
    {% block scripts %}{% endblock %}
</body>

</html>