<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'components/partials/mainhead.twig' %}
    {% block head %}{% endblock %}
</head>

<body>
    {% include 'components/partials/switcher.twig' %}
    {% include 'components/partials/loader.twig' %}
    <div class="page">
        {% include 'components/partials/header.twig' %}
        {% include 'components/partials/sidebar.twig' %}
        <div class="main-content app-content">
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% include 'components/partials/headersearch_modal.twig' %}
        {% include 'components/partials/footer.twig' %}
    </div>
    {% include 'components/partials/commonjs.twig' %}
    <script src="{{ PATH }}/view/assets/ynex/assets/libs/jsvectormap/js/jsvectormap.min.js?v={{ VERSION }}"></script>
    <script src="{{ PATH }}/view/assets/ynex/assets/libs/jsvectormap/maps/world-merc.js?v={{ VERSION }}"></script>
    <script src="{{ PATH }}/view/assets/ynex/assets/js/custom.js?v={{ VERSION }}"></script>
</body>

</html>