<!DOCTYPE html>
<html lang="pt-BR" loader="disable">

<head>
    {% include 'components/partials/mainhead.twig' %}
    {% block head %}{% endblock %}
</head>

<body data-domain="{{ DOMAIN }}" data-path="{{ PATH }}" data-version="{{ VERSION }}" data-lang="{{ LANGUAGE }}">
    <div class="page">
        <div class="main-content p-0">
            <div class="container-fluid p-0">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="{{ PATH }}/view/assets/ynex/assets/js/show-password.js?v={{ VERSION }}"></script>    
    <script src="{{ PATH }}/view/assets/js/login/login.js?v={{ VERSION }}"></script>
</body>

</html>